
.input-container {
  .input {
    width: 100%;

    &[type=search] {
      cursor: pointer;

      &:focus,
      &:active {
        outline: none;
      }
    }
  }
  
  .input::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  
}
